// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  color: #000;
  margin: 33px;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}